02_02_WS_WSDL/WebContent/wsdl/TratadoDeCadenas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://_01_WS_Server.java.curo.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://_01_WS_Server.java.curo.com" xmlns:intf="http://_01_WS_Server.java.curo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://_01_WS_Server.java.curo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="convertirCadenaMayuscula">
    <complexType>
     <sequence>
      <element name="cadena" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirCadenaMayusculaResponse">
    <complexType>
     <sequence>
      <element name="convertirCadenaMayusculaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirCadenaMinuscula">
    <complexType>
     <sequence>
      <element name="cadena" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirCadenaMinusculaResponse">
    <complexType>
     <sequence>
      <element name="convertirCadenaMinusculaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirPrimeraLetraCadenaMayuscula">
    <complexType>
     <sequence>
      <element name="cadena" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirPrimeraLetraCadenaMayusculaResponse">
    <complexType>
     <sequence>
      <element name="convertirPrimeraLetraCadenaMayusculaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirPrimeraLetraCadenaMinuscula">
    <complexType>
     <sequence>
      <element name="cadena" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirPrimeraLetraCadenaMinusculaResponse">
    <complexType>
     <sequence>
      <element name="convertirPrimeraLetraCadenaMinusculaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirCadaPalabraCadenaMinuscula">
    <complexType>
     <sequence>
      <element name="cadena" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirCadaPalabraCadenaMinusculaResponse">
    <complexType>
     <sequence>
      <element name="convertirCadaPalabraCadenaMinusculaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirCadaPalabraCadenaMayuscula">
    <complexType>
     <sequence>
      <element name="cadena" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertirCadaPalabraCadenaMayusculaResponse">
    <complexType>
     <sequence>
      <element name="convertirCadaPalabraCadenaMayusculaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertirCadenaMayusculaResponse">

      <wsdl:part element="impl:convertirCadenaMayusculaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirPrimeraLetraCadenaMayusculaResponse">

      <wsdl:part element="impl:convertirPrimeraLetraCadenaMayusculaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirPrimeraLetraCadenaMinusculaRequest">

      <wsdl:part element="impl:convertirPrimeraLetraCadenaMinuscula" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirCadaPalabraCadenaMayusculaResponse">

      <wsdl:part element="impl:convertirCadaPalabraCadenaMayusculaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirCadaPalabraCadenaMinusculaResponse">

      <wsdl:part element="impl:convertirCadaPalabraCadenaMinusculaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirCadenaMinusculaResponse">

      <wsdl:part element="impl:convertirCadenaMinusculaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirCadaPalabraCadenaMayusculaRequest">

      <wsdl:part element="impl:convertirCadaPalabraCadenaMayuscula" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirCadenaMayusculaRequest">

      <wsdl:part element="impl:convertirCadenaMayuscula" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirCadenaMinusculaRequest">

      <wsdl:part element="impl:convertirCadenaMinuscula" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirCadaPalabraCadenaMinusculaRequest">

      <wsdl:part element="impl:convertirCadaPalabraCadenaMinuscula" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirPrimeraLetraCadenaMinusculaResponse">

      <wsdl:part element="impl:convertirPrimeraLetraCadenaMinusculaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertirPrimeraLetraCadenaMayusculaRequest">

      <wsdl:part element="impl:convertirPrimeraLetraCadenaMayuscula" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TratadoDeCadenas">

      <wsdl:operation name="convertirCadenaMayuscula">

         <wsdl:input message="impl:convertirCadenaMayusculaRequest" name="convertirCadenaMayusculaRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertirCadenaMayusculaResponse" name="convertirCadenaMayusculaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirCadenaMinuscula">

         <wsdl:input message="impl:convertirCadenaMinusculaRequest" name="convertirCadenaMinusculaRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertirCadenaMinusculaResponse" name="convertirCadenaMinusculaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirPrimeraLetraCadenaMayuscula">

         <wsdl:input message="impl:convertirPrimeraLetraCadenaMayusculaRequest" name="convertirPrimeraLetraCadenaMayusculaRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertirPrimeraLetraCadenaMayusculaResponse" name="convertirPrimeraLetraCadenaMayusculaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirPrimeraLetraCadenaMinuscula">

         <wsdl:input message="impl:convertirPrimeraLetraCadenaMinusculaRequest" name="convertirPrimeraLetraCadenaMinusculaRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertirPrimeraLetraCadenaMinusculaResponse" name="convertirPrimeraLetraCadenaMinusculaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirCadaPalabraCadenaMinuscula">

         <wsdl:input message="impl:convertirCadaPalabraCadenaMinusculaRequest" name="convertirCadaPalabraCadenaMinusculaRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertirCadaPalabraCadenaMinusculaResponse" name="convertirCadaPalabraCadenaMinusculaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirCadaPalabraCadenaMayuscula">

         <wsdl:input message="impl:convertirCadaPalabraCadenaMayusculaRequest" name="convertirCadaPalabraCadenaMayusculaRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertirCadaPalabraCadenaMayusculaResponse" name="convertirCadaPalabraCadenaMayusculaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TratadoDeCadenasSoapBinding" type="impl:TratadoDeCadenas">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convertirCadenaMayuscula">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertirCadenaMayusculaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertirCadenaMayusculaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirCadenaMinuscula">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertirCadenaMinusculaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertirCadenaMinusculaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirPrimeraLetraCadenaMayuscula">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertirPrimeraLetraCadenaMayusculaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertirPrimeraLetraCadenaMayusculaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirPrimeraLetraCadenaMinuscula">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertirPrimeraLetraCadenaMinusculaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertirPrimeraLetraCadenaMinusculaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirCadaPalabraCadenaMinuscula">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertirCadaPalabraCadenaMinusculaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertirCadaPalabraCadenaMinusculaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertirCadaPalabraCadenaMayuscula">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertirCadaPalabraCadenaMayusculaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertirCadaPalabraCadenaMayusculaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TratadoDeCadenasService">

      <wsdl:port binding="impl:TratadoDeCadenasSoapBinding" name="TratadoDeCadenas">

         <wsdlsoap:address location="http://localhost:8081/02_02_WS_WSDL/services/TratadoDeCadenas"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
